/* Colors variables */

$lilac: #e4b4f1;
$golden: #ffcb08;
$darkpink: #c6168d;
$darkgrey: #585858;

/* GENERAL and MOBILE specifications */

$header-height: 100px;
$footer-height: 72px;

body {
    height: 100%;
    color: $darkgrey;
}

main {
    max-width: 1000px;
    height: calc( 100% - #{$header-height} - #{$footer-height} );
}

header {
    overflow: hidden;
    height: 100px; 
}

a.header-link, a:hover.header-link, a:visited.header-link {
    color: white;
    text-decoration: none;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 1.8em;
    position: relative;
    left: 130px;
}

h2 {
    color: $darkpink;
    font-size: 32px;
}


h4 {
    color: darken($color: $lilac, $amount: 40%);
    margin-bottom: 2em;
}

.bg-dark-lilac {
    background-color: darken($lilac, 40%);
}

.bg-lilac {
    background-color: $lilac;
}

.text-darkenlilac {
    color: darken($lilac, 40%);
}

.nav-link.disabled {
    font-weight: 700;
    color: $darkpink;
}

.navbar-collapse {
    top: 100px;
    background-color: $lilac;
    transition: all 0.5s ease 0s;
    position: fixed;
}

.navbar-toggler {
    border: 1px solid white;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-shadow {
    box-shadow: 0px 3px 10px #6a696957;
}

li a.nav-link {
    color: darken($lilac, 40%);
    padding: 10px 0 10px 0;
    text-decoration: none;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    text-decoration: none;
    padding: 10px 10px;
}

.btn-darkpink {
    border: 1px solid $darkpink;
    background-color: $darkpink;
}

.btn-lilac {
    border: 1px solid darken($color: $lilac, $amount: 30%);
    background-color: darken($color: $lilac, $amount: 30%);
}

.btn-darkpink, a:visited.btn-darkpink, .btn-lilac, a:visited.btn-lilac {
    color: white;
}

.btn-darkpink:hover, .btn-darkpink a:hover {
    color: white;
    background-color: lighten($color: $darkpink, $amount: 30%);
    border: 1px solid lighten($color: $darkpink, $amount: 30%);
}

.btn-lilac:hover, .btn-lilac a:hover {
    color: darken($color: $lilac, $amount: 40%);
    background-color: $lilac;
    border: 1px solid $lilac;
}

aside {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: white;
}

.no-list-style {
    list-style: none;
}

.gold-underline {
    border-bottom: 4px solid $golden;
}

.img-gradient-right {
    mask-image:-webkit-gradient(linear, left bottom, right bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))
}

.w-s-40 {
    width: 40%;
    min-width: 17rem;
}

.w-s-100 {
    width: 100%;
}

.img-max-400 {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.img-max-200 {
    width: 100%;
    max-width: 200px;
    height: auto;
}

figcaption {
    color: lighten($color: $darkgrey, $amount: 30%);
    font-style: italic;
}

#diagnostic, #types, #manifestations {
    padding-top: 86px;
    margin-top: -86px;
}

.accordion-button:not(.collapsed) {
    color: $darkpink;
    background-color: lighten($color: $darkpink, $amount: 50%);
}

.accordion-button:focus {
    border-color: $darkpink;
    box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23c6168d'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.bloc-h4 {
    background-color: lighten($color: $golden, $amount: 44%);
    padding: 2em 2em;
    margin-bottom: 20px;
}

.d-info-menu {
    justify-content: space-between;
}

/* TABLET specifications */

@media screen and (min-width: 720px){

    $header-height: 100px;
    $footer-height: 72px;

    main {
        height: calc( 100% - #{$header-height} - #{$footer-height} )
    }

    h1 {
        font-family: 'Pacifico', cursive;
        font-size: 2.5em;
    } 

}

/* DESKTOP specifications */
@media screen and (min-width: 960px){

    $header-height: 200px;
    
    main {
        height: calc( 100% - #{$header-height} - #{$footer-height} )
    }

    header {
        height: 200px;
    }

    h1 {
        font-size: 4em;
        left: 250px;
    }

    h2 {
        color: $darkpink;
        font-size: 40px;
    }

    .navbar-collapse {
        top: 0;
        background-color: rgba(255, 255, 255, 0);
        position: initial;
        justify-content: end;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 0 0 5px 0;
    }

    .nav-link {
        font-size: 18px;
        color: white;
    }

    li.nav-item>a.nav-link.disabled {
        color: $golden;
    }

    li a.nav-link, li a:visited.nav-link {
        color: white;
        margin: 0 10px 0 10px;
        text-decoration: none;
        transition-property: color;
        transition-duration: 0.5s; 
    }
    
    li a:hover.nav-link {
        color: $golden;
    }

    .navbar-shadow {
        box-shadow: none;
    }

    .button {
        transition-property: background-color color;
        transition-duration: 0.5s;    
    }

    .btn-darkpink:hover, .btn-darkpink a:hover {
        color: white;
        background-color: lighten($color: $darkpink, $amount: 30%);
        border: 1px solid lighten($color: $darkpink, $amount: 30%);
    }

    .w-lg-25 {
        width: 25%;
    }

    #diagnostic, #types, #manifestations {
        padding-top: 86px;
        margin-top: -86px;
    }

    .bloc-h4 {
        padding: 3em 4em;
    }

    .d-info-menu {
        justify-content: center;
    }

}