/* Colors variables */
/* GENERAL and MOBILE specifications */
body {
  height: 100%;
  color: #585858;
}

main {
  max-width: 1000px;
  height: calc( 100% - 100px - 72px);
}

header {
  overflow: hidden;
  height: 100px;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 1.8em;
  position: relative;
  left: 130px;
}

h2 {
  color: #c6168d;
  font-size: 32px;
}

h4 {
  color: #9722b7;
  margin-bottom: 2em;
}

.bg-dark-lilac {
  background-color: #9722b7;
}

.bg-lilac {
  background-color: #e4b4f1;
}

.text-darkenlilac {
  color: #9722b7;
}

a.header-link, a:hover.header-link, a:visited.header-link {
  color: white;
  text-decoration: none;
}

.nav-link.disabled {
  font-weight: 700;
  color: #c6168d;
}

.navbar-collapse {
  top: 99px;
  background-color: #e4b4f1;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  position: fixed;
}

.navbar-toggler {
  border: 1px solid white;
}

.navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-shadow {
  -webkit-box-shadow: 0px 3px 10px #6a696957;
          box-shadow: 0px 3px 10px #6a696957;
}

li a.nav-link {
  color: #9722b7;
  padding: 10px 0 10px 0;
  text-decoration: none;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3px;
  text-decoration: none;
  padding: 10px 10px;
  -webkit-transition-property: background-color color;
  transition-property: background-color color;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.btn-darkpink {
  border: 1px solid #c6168d;
  background-color: #c6168d;
}

.btn-lilac {
  border: 1px solid #b633d9;
  background-color: #b633d9;
}

.btn-darkpink, a:visited.btn-darkpink, .btn-lilac, a:visited.btn-lilac {
  color: white;
}

.btn-darkpink:hover, .btn-darkpink a:hover {
  color: white;
  background-color: #f184ce;
  border: 1px solid #f184ce;
}

.btn-lilac:hover, .btn-lilac a:hover {
  color: #9722b7;
  background-color: #e4b4f1;
  border: 1px solid #e4b4f1;
}

aside {
  background: white;
}

.no-list-style {
  list-style: none;
}

.gold-underline {
  border-bottom: 4px solid #ffcb08;
}

.img-gradient-right {
  -webkit-mask-image: -webkit-gradient(linear, left bottom, right bottom, from(black), to(rgba(0, 0, 0, 0)));
          mask-image: -webkit-gradient(linear, left bottom, right bottom, from(black), to(rgba(0, 0, 0, 0)));
}

.w-s-40 {
  width: 40%;
  min-width: 17rem;
}

.w-s-100 {
  width: 100%;
}

.img-max-400 {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.img-max-200 {
  width: 100%;
  max-width: 200px;
  height: auto;
}

figcaption {
  color: #a5a5a5;
  font-style: italic;
}

#diagnostic, #types, #manifestations {
  padding-top: 86px;
  margin-top: -86px;
}

.accordion-button:not(.collapsed) {
  color: #c6168d;
  background-color: #fce0f2;
}

.accordion-button:focus {
  border-color: #c6168d;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23c6168d'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.bloc-h4 {
  background-color: #fffae8;
  padding: 2em 2em;
  margin-bottom: 20px;
}

.d-info-menu {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.9em;
}

input#name, input#surname, input#phone {
  max-width: 300px;
}

div.card > img {
  height: 180px;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-category {
  padding: 10px 0 5px 0;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  color: #c55ee1;
}

.card-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.modal-dialog form {
  width: 800px;
}

div.modal-body p, div.modal-body ul {
  max-width: 600px;
  margin: 10px auto;
}

div.modal-body p {
  text-align: center;
}

.text-overlay {
  position: absolute;
  right: 0;
  bottom: 71px;
  height: 100%;
  width: 100%;
  content: "";
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, white), color-stop(5%, rgba(255, 255, 255, 0)));
  background: linear-gradient(to top, white 0, rgba(255, 255, 255, 0) 5%);
  pointer-events: none;
}

.btn-check:focus + .btn, .btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* TABLET specifications */
@media screen and (min-width: 720px) {
  main {
    height: calc( 100% - 100px - 72px);
  }
  .nav-link {
    font-size: 18px;
    color: white;
  }
  .d-info-menu {
    font-size: 1em;
  }
}

/* DESKTOP specifications */
@media screen and (min-width: 960px) {
  main {
    height: calc( 100% - 200px - 72px);
  }
  header {
    height: 200px;
  }
  body, .accordion-button {
    font-size: 1.2rem;
  }
  h1 {
    font-size: 3em;
    left: 250px;
  }
  h2 {
    color: #c6168d;
    font-size: 40px;
  }
  .navbar-collapse {
    top: 0;
    background-color: rgba(255, 255, 255, 0);
    position: initial;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 0 5px 0;
  }
  .nav-link {
    font-size: 20px;
  }
  li.nav-item > a.nav-link.disabled {
    color: #ffcb08;
  }
  li a.nav-link, li a:visited.nav-link {
    color: white;
    margin: 0 10px 0 10px;
    text-decoration: none;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
  }
  li a:hover.nav-link {
    color: #ffcb08;
  }
  .navbar-shadow {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .w-lg-25 {
    width: 25%;
  }
  #diagnostic, #types, #manifestations {
    padding-top: 90px;
    margin-top: -90px;
  }
  .bloc-h4 {
    padding: 3em 4em;
  }
  li.art-card {
    width: 18rem;
  }
}
/*# sourceMappingURL=style.css.map */